{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "rules": {
    "semi": 0,
    "no-dupe-args": 2,
    "no-empty": 2,//块语句中的内容不能为空
    "no-multiple-empty-lines": [1, {"max": 2}],
    "camelcase": 2,//强制驼峰法命名//空行最多不能超过2行
    "eqeqeq": 2, //必须使用全等
    "indent": [2, 4],//缩进风格
    "id-match": 0,//命名检测
    "semi-spacing": [0, {"before": false, "after": true}],//分号前后空格
    "space-unary-ops": [0, { "words": true, "nonwords": false }],//一元运算符的前/后要不要加空格
    "strict": 2,//使用严格模式
    "spaced-comment": 2, //注释风格要不要有空格什么的
    "quotes": [1, "single"]//引号类型 `` "" ''
  }
}
